.Carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pays {
    transform: scale(75%);
}

.pays:first-of-type {
    width: 400px;
    /* La taille est divisée par 1.5 pour la france */
}

.pays:nth-of-type(2) {
    width: 300px;
    /* La taille est divisée par 1.5 pour l'allemagne aussi */
}

/* On le met sur une seule colonne */
.Accueil {
    grid-template-columns: 1fr;
    margin-top: 0px;
    height: 100%;
}

.AccueilTitre {
    line-height: 100%;
    margin-top: 16px;
}

/* On donne plus de place pour les titres */
.AccueilSousTitre {
    line-height: 100%;
}

.AccueilBouton {
    padding: 8px;
    font-size: 16px;
    font-family: Montserrat-bold;
}

.AccueilCle {
    width: 90%;
}

.ListeDesEscapeGame>div {
    justify-content: center;
}

.TitreEscapeGame {
    padding-top: 8px;
}

/* On le met sur une seule colonne */
.PresentationGlobal {
    grid-template-columns: 1fr;
}

.PresentationGlobal {
    padding: 0px;
}

/* On prend d'autes valeurs pour les engrenages qui tournent */
.engrenage:first-of-type {
    transform: translate(var(--Xtel), var(--Ytel));
}

.engrenage:nth-of-type(2) {
    transform: translate(var(--Xtel), var(--Ytel));
}

.PresentationImg{
    margin-bottom: 32px;
}

html{
    overflow-x: hidden;
}

.CadreDesEngrenages{
    position: relative;
    transform: translateY(-20px);
    height: 100%;
}