.gridTop{
    grid-template-columns: 1fr;
}

.form_elt{
    margin-left: auto;
    margin-right: auto;
}

.jeux {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 64px;
}

.calendrier {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
}

#premiere{
    grid-column: 1 /span 2;
}

#seconde{
    grid-column: 1 /span 2;
    grid-row: 7;
}

#trois{
    grid-column: 1 /span 2;
    grid-row: 12;
}

#quatre{
    grid-column: 1 /span 2;
    grid-row: 17;
}

.total:nth-of-type(7n) {
    grid-column: span 3;
}

.total:nth-of-type(7n) {
    grid-column-start: 1;
}

.jeutop{
    grid-template-columns: 1fr;
    gap: 32px;
}

.autre{
    flex-direction: column;
}

.video{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}

.gridTop{
    margin-top: 32px;
}

.total{
    width: 100%;
}