/* On refait les espaces */
.lesCartes{
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    gap: 32px;
}

.lesVilles{
    margin-bottom: 64px;
}