/* On le met sur une seule colonne */
.global-page, .grid-mdp{
    grid-template-columns: 1fr;
}

/* Réduction des espaces */
.grid-mdp{
    gap: 8px;
}

.infoproduits{
    height: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
}

.global-page{
    gap: 16px;
}

.ancienspaniers{
    margin-bottom: 64px;
}

.HeaderBouton:nth-of-type(8)>a {
    background-image: linear-gradient(-135deg, #E6B856, #806630);
    color: transparent;
    background-clip: text;
}