.all {
    grid-template-columns: 1fr;
    margin-bottom: 64px;
    width: 90%;
}

.engrenage-single,
.engrenages {
    display: none;
}

.puce {
    display: none;
}

.carte_flip {
    height: 250px;
}

input{
    border-radius: 8px;
}

.HeaderBouton:nth-of-type(12)>a {
    background-image: linear-gradient(-135deg, #E6B856, #806630);
    color: transparent;
    background-clip: text;
}