/* Ne pas afficher le header et le footer */
header {
    display: none !important;
}

footer {
    display: none;
}

img{
    width: 100%;
}

/* Bouton pour revenir à l'accueil */
.maison-home{
    width: 70px;
    cursor: pointer;
}

/* AJout des polices */
@font-face {
    font-family: Montserrat-regular;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

body{
    font-family: Montserrat-regular;
    color: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-135deg, #151414, #302c27);
}

h1{
    font-family: Montserrat-bold;
}

span{
    background-image: linear-gradient(-135deg, #e6b856, #806630);
    color: transparent;
    background-clip: text;
}

/* Mise en page du contenu */
.remerciements{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Des éléments de la page */
.link{
    margin-top: 20px;
}

.link>a{
    color: white;
    font-size: 25px;
}

.rect{
    width: 30px;
    position: fixed;
    top: 0;
    right: 200px;
}
.rect2{
    width: 250px;
    position: fixed;
    bottom: 100px;
    left: 0;
}