header {
    display: none !important;
}

footer {
    display: none;
}

img{
    width: 100%;
}

@font-face {
    font-family: Montserrat-regular;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

body{
    font-family: Montserrat-regular;
    color: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-135deg, #151414, #302c27);
}

.rect{
    width: 30px;
    position: fixed;
    top: 0;
    right: 200px;
}
.rect2{
    width: 250px;
    position: fixed;
    bottom: 100px;
    left: 0;
}

.connexion, .inscription{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background: #00000034;
    height: 500px;
    z-index: 5000;
    border-radius: 20px;
}
.inscription{
    height: 550px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    position: relative;
}
.right{
    background: url(../img/fondConnexion.png);
    background-size: cover;
    background-position: 50%;
    border-radius: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ferme{
    display: none;
}

.title{
    text-align: center;
}

.subtitle{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.titre>h2{
    font-family: Montserrat-bold;
    color: #e6b856;
    margin-bottom: 20px;
}

.split{
    display: flex;
    gap: 25px;
}

.title, .subtitle, .bouton_inscription{
    width: 85%;
    margin-inline: auto;
}

input{
    background: none;
    border: #e6b856 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: #e6b856;
    width: 100%;
}

.erreur{
    color: #e6b856;
    position: absolute;
    bottom: -40px;
    margin-top: 20px;
}

input::placeholder{
    color: #e6b856;
}

button{
    background: linear-gradient(-135deg, #e6b856, #806630);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #302c27;
}

.total{
    display: flex;
    align-items: center;
    justify-content: center;
}

.croix{
    width: 30px;
    transform: translate(-200%, -100%);
    position: absolute;
}

.bouton_inscription{
    padding: 10px;
    background: linear-gradient(-135deg, #e6b856, #806630);
    width: 150px;
    margin-inline: auto;
    text-align: center;
    color: #302c27;
    font-family: Montserrat-bold;
    border-radius: 150px;
}