header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.705) 0%, rgba(255, 0, 254, 0) 100%);
}

body {
    background: rgb(21, 20, 20);
    background: linear-gradient(26deg, rgba(21, 20, 20, 1) 0%, rgba(94, 87, 78, 1) 100%);
    font-family: Montserrat;
    color: #ffffff;
}

.ancienspaniers {
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
}

.AciennesCommandes {
    border-top: #E6B856 1px solid;
    padding: 10px;
}

.AciennesCommandes:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
}

.AciennesCommandes:nth-child(1) {
    border: none;
}

.dateValidation {
    padding-bottom: 20px;
}

.total {
    width: 80%;
    margin: auto;
}

.global-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.infosUser {
    background: #00000050;
    border-radius: 10px;
    padding: 20px;
}

.pic>img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.rectangleTitre {
    width: 50px;
    height: 5px;
    background: #e6b856;
    position: absolute;
    bottom: -5px;
}

.titre {
    position: relative;
}

.infoproduits {
    border-bottom: 1px #E6B856 solid;
    border-top: 1px solid #E6B856;
}

.form_elt {
    padding: 10px;
    border: solid 1px #E6B856;
}

.boutbout {
    background: #E6B856;
    border: none;
    padding: 5px;
    border-radius: 2px;
    margin-top: 10px;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    border: #e6b856 1px solid;
    background-color: transparent;
    color: white;
}

input::placeholder{
    color: white;
}

.mdp{
    margin-top: 20px;
}

.grid-mdp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.bloqué{
    background: #E6B856;
    color: rgb(17, 17, 17);
}

.total-boutons{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.modifCompteButton{
    padding: 5px;
    font-family: Montserrat-bold;
    background: linear-gradient(135deg, #E6B856, #856b32);
    width: 100%;
    border: none;
    border-radius: 5px;
}

.deletaccount{
    width: 100%;
    padding: 5px;
    text-align: center;
}



