header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.705) 0%, rgba(255, 0, 254, 0) 100%);
}

body{
    background: rgb(21,20,20);
    background: linear-gradient(26deg, rgba(21,20,20,1) 0%, rgba(94,87,78,1) 100%);
    font-family: Montserrat;
    color: #ffffff;
}

/* Mise en page du texte en bas de la page */
.lesVilles{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 140px;
}

.DivVilles{
    margin: 10px;
}

h1{
    margin-top: 100px;
    margin-left: 5%;
}

h2{
    margin-left: 5%;
}

/* Titre de la page */
.rectangleTitre{
    width: 50px;
    height: 10px;
    background: #e6b856;
    position: relative;
    left: 5%;
    bottom: 15px;
}

.rectangleVille{
    width: 50px;
    height: 3px;
    background: #e6b856;
}

/* Mise en page des cartes de la page */
.lesCartes{
    display: flex;
    justify-content: space-around;
    gap: 120px;
    margin-top: 50px;
}

.france{
    position: relative;
}

.germany{
    position: relative;
}

/* Point sur la carte */
.point{
    position: absolute;
    width: 30px;
    transform: translate(-50%, -100%);
}

/* On met le bon bouton du header en couleur */
.HeaderBouton:nth-of-type(4)>a {
    background-image: linear-gradient(-135deg, #E6B856, #806630);
    color: transparent;
    background-clip: text;
}