header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.705) 0%, rgba(255, 0, 254, 0) 100%);
}

h1{
    text-align: center;
    color: #ffffff;
}

body{
    background: rgb(21,20,20);
    background: linear-gradient(26deg, rgba(21,20,20,1) 0%, rgba(94,87,78,1) 100%);
    font-family: Montserrat;
}

.allemployes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.case {
    justify-self: center;
    max-width: 60%;
    margin: 10px;
    color: #ffffff;
}

.case img {
    border-radius: 10px;
    width: 100%;
}

.nom{
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.contacts{
    margin-top: 100px;
    background-color: #3d3d3d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 75px;
}

.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 75px;
}