header {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
    margin-bottom: 32px;
    height: 7vh;
}

footer{
    min-height: 38vh;
}


body {
    background-image: linear-gradient(22.5deg, #151414, #46413A);
    font-family: Montserrat;
    color: white;
}

main{
    min-height: 60vh;
}

.MiseEnPage {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
}

.pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 16px;
}

.ChangerPhoto {
    display: flex;
    gap: 32px;
    align-items: center;
}

.boutbout {
    background-image: linear-gradient(-90deg, #E6B856, #806630);
    border: none;
    padding: 8px 8px;
    border-radius: 8px;
}

.ChangerPhoto>div {
    background-image: linear-gradient(-90deg, #E6B856, #806630);
    color: transparent;
    background-clip: text;
    border: #E6B856 solid 1px;
    padding: 8px 4px;
    border-radius: 8px;
}

.total {
    display: grid;
    grid-template-columns: 60% 40%;
}

.Separation {
    margin: auto;
}

.Separation:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.deletaccount{
    margin-top: 8px;
}

.deletaccount>a{
    background-image: linear-gradient(-90deg, #e65656, #803030);
    color: transparent;
    background-clip: text;
    border: #e65656 solid 1px;
    padding: 12px 6px;
    border-radius: 8px;
}

.modifmdp{
    font-family: Montserrat-bold;
    margin-top: 16px;
}

.modifiermdp>form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modifiermdpInput{
    background-color: rgb(172, 172, 172);
    border: #151414 1px solid;
    border-radius: 8px;
    padding: 8px 4px;
    width: 250px;
}

.modifiermdpBouton{
    border-radius: 8px;
    background-image: linear-gradient(-90deg, #E6B856, #806630);
    color: transparent; 
    background-clip: text;
    border: 1px solid #BC9032;
    width: fit-content;
    padding: 8px 8px;
}

