header {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.705) 0%, rgba(255, 0, 254, 0) 100%);
}

body {
    background-image: linear-gradient(-135deg, #151414, #302c27);
    color: white;
    font-family: Montserrat;
}

img {
    max-width: 100%;
    height: auto;
}

/* Mise en page de la page */
.groupementAll {
    width: 80%;
    margin: auto;
}

/* Mise en page des éléments pour les séparer à droite et à gauche */
.double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-bottom: 64px;
}

.topPage{
    margin-bottom: 100px;
}

h1{
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Mise en page des images */
.image>.img>img {
    border: solid 1px #e6b856;
    border-radius: 10px;
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.image>.img {
    height: 700px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Les titres */
.titrePage{
    position: relative;
}

.rectangleTitre{
    width: 50px;
    height: 5px;
    background: #e6b856;
    position: absolute;
    bottom: -15px;
}

.titre{
    position: relative;
}

.titre>.rectangleTitre{
    bottom: 5px;
}

/* On met le bon bouton du header en couleur */
.HeaderBouton:nth-of-type(2)>a {
    background-image: linear-gradient(-135deg, #E6B856, #806630);
    color: transparent;
    background-clip: text;
}