/* Style du header */

.panier {
    display: none;
}

body {
    margin: 0;
}

img{
    width: 100%;
}

.cache_fond{
    background: rgba(0, 0, 0, 0.685);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5;
    left: 0;
    right: 0;
    display: none;
}

.ouvert {
    display: block;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-black;
    src: url(../font/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

a {
    text-decoration: none;
    color: white;
}

.centreHeader {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.HeaderCoteDroite {
    display: flex;
    gap: 16px;
    align-items: center;
}

.HeaderBouton {
    cursor: pointer;
    position: relative;
}

.HeaderBouton {
    color: black;
}

.HeaderBouton:first-of-type>a {
    background-image: linear-gradient(-135deg, #E6B856, #806630);
    color: transparent;
    background-clip: text;
}

.Reservation>a {
    background-image: linear-gradient(-135deg, #E6B856, #806630);
    padding: 8px;
    color: black !important;
    border-radius: 4px;
}

.PhotoDeProfilHeader>a>img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: red;
    object-fit: cover;
}

/* Style du footer */

.MisePage {
    width: 80%;
    margin: auto;
    z-index: 2;
    position: relative;
}

.MiseEnPageFooter {
    width: 80%;
}

.Logo {
    width: 200px;
}

.FooterPartiesGlobal {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
}

h3 {
    color: #FFAE00;
}

.NoMargin {
    margin-top: 0;
}

.ReseauImg {
    display: flex;
    gap: 16px;
    align-items: center;
}

.ReseauImg>div {
    width: 44px;
}

.ContactGroup:first-of-type {
    display: flex;
    gap: 8px;
}

.ContactGroup:first-of-type {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: dashed 1px white;
    align-items: center;
}

.ContactMail:first-of-type {
    display: flex;
    gap: 8px;
    align-items: center;
}

.ContactMail:nth-of-type(2)>div {
    margin-bottom: 8px;
    margin-left: 40px;
}

.Contactimg {
    width: 32px;
}

.Information>div {
    margin-bottom: 8px;
}

.Realisation {
    padding: 16px 0px;
}

.MiseEnPageRoue {
    position: relative;
    background-color: #271507;
    padding-top: 16px;
}

.RoueFooter {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    z-index: 1;
    transform: translate(var(--X), var(--Y));
    overflow: hidden;
}

.RoueFooter>img{
    animation: Tourner 15s linear infinite;
    width: 100%;
}

@keyframes Tourner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer{
    color: white;
    font-family: Montserrat;
}

.HeaderBouton::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: #E6B856;
    z-index: -1;
    width: 0;
    height: 1px;
    transition: 0.5s;
    border-radius: 5px;
}
/* ouverture */
.HeaderBouton:hover::before {
    width: 100%;
}
