@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-black;
    src: url(../font/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

header {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
}

body {
    background-image: linear-gradient(22.5deg, #151414, #46413A);
    font-family: Montserrat;
}

/* Mise en page des informations en haut de page */
.nombre>div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nombre>div>img {
    width: 32px;
}

.MiseEnPage {
    width: 80%;
    margin: auto;
}

.nombre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.nombre>div {
    margin: auto;
}

/* Le produit préféré prend toute la ligne */
.nombre>div:nth-child(3) {
    grid-column: 1 / span 2;
}

img {
    width: 100%;
}

/* Photo de profil des utilisateurs */
.PhotoDeProfil {
    width: 250px;
    display: flex;
}

.photo {
    border-radius: 8px 8px 0px 0px;
}

/* Conteneur d'un utilisateur */
.PetiteCase {
    width: fit-content;
    border: 2px #E6B856 solid;
    border-radius: 8px;
}

.MiseEnPageUser {
    width: 250px;
    margin: auto;
}

.MiseEnPageUser2 {
    width: 90%;
    margin: auto;
    color: white;
}

.Nom {
    font-family: Montserrat-bold;
    color: transparent;
    background-image: linear-gradient(-90deg, #E6B856, #806630);
    background-clip: text;
    margin: 8px 0px;
}

.InformationDashbord {
    background-image: linear-gradient(-90deg, #E6B856, #806630);
    padding: 4px 8px;
    border-radius: 4px;
}

.CadreInfo {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.InfoDansCase{
    margin-bottom: 8px;
}

.usersAll{
    display: flex;
    gap: 32px;
    margin-top: 16px;
    margin-bottom: 64px;
    justify-content: center;
}

.HeaderBouton:nth-of-type(6)>a {
    background-image: linear-gradient(-135deg, #E6B856, #806630);
    color: transparent;
    background-clip: text;
}

.err{
    position: fixed;
    top: 50%;
    z-index: 6;
    left: 50%;
    text-align: center;
    background: linear-gradient(#151414, #302C27);
    border: 1px solid #e6b856;
    padding: 20px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    display: block;
    color: white;
}