header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.705) 0%, rgba(255, 0, 254, 0) 100%);
}

body {
    background: rgb(21, 20, 20);
    background: linear-gradient(26deg, rgba(21, 20, 20, 1) 0%, rgba(94, 87, 78, 1) 100%);
    font-family: Montserrat;
    color: #ffffff;
}

/* On voit les anciens paniers qu'on a commandé en bas de la page */
.ancienspaniers {
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
}

.AciennesCommandes {
    border-top: #E6B856 1px solid;
    padding: 10px;
}

.AciennesCommandes:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
}

.AciennesCommandes:nth-child(1) {
    border: none;
}

.dateValidation {
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: Montserrat-bold;
}

/* La partie du haut avec les informations de notre compte et notre panier */
.total {
    width: 80%;
    margin: auto;
}

.global-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

/* Nos informations de compte */
.infosUser {
    background: #00000050;
    border-radius: 10px;
    padding: 20px;
}

/* Notre photo de profil */
.pic>img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.rectangleTitre {
    width: 50px;
    height: 5px;
    background: #e6b856;
    position: absolute;
    bottom: -5px;
}

.titre {
    position: relative;
}

.infoproduits {
    border-bottom: 1px #E6B856 solid;
    border-top: 1px solid #E6B856;
}

.form_elt {
    padding: 10px;
    border: solid 1px #E6B856;
}

.boutbout {
    background: #E6B856;
    border: none;
    padding: 5px;
    border-radius: 2px;
    margin-top: 10px;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    border: #e6b856 1px solid;
    background-color: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

.mdp {
    margin-top: 20px;
}

.grid-mdp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Votre mail mais vous pouvez pas le modifier */
.bloqué {
    background: #E6B856;
    color: rgb(17, 17, 17);
}

.total-boutons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.modifCompteButton {
    padding: 5px;
    font-family: Montserrat-bold;
    background: linear-gradient(135deg, #E6B856, #856b32);
    width: 100%;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Supprimer son compte */
.deletaccount {
    width: 100%;
    padding: 5px;
    text-align: center;
    border: #E6B856 solid 1px;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;
}

.deletaccount>a {
    color: #E6B856;
}

/* Information du panier */
.infoproduits {
    max-height: 800px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #E6B856 transparent;
}

.linetop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat-bold;
}

.infojour {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lignepanieractu {
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lignepanieractu:nth-child(even) {
    background: #00000050;
}

.iconepoubelle {
    cursor: pointer;
    width: 30px;
}

.lignepanier {
    padding-top: 5px;
    padding-bottom: 5px;
}

.description {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-panier-obj{
    display: flex;
    gap: 50px;
}
.form-panier-obj>button{
    background: none;
    width: 50px;
    border: none;
    cursor: pointer;
}

.total-panier-tgm {
    margin-top: 20px;
    font-family: Montserrat-bold;
    color: #e6b856;
}

.err{
    position: fixed;
    top: 50%;
    z-index: 6;
    left: 50%;
    text-align: center;
    background: linear-gradient(#151414, #302C27);
    border: 1px solid #e6b856;
    padding: 20px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    display: block;
}