header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.705) 0%, rgba(255, 0, 254, 0) 100%);
}

body{
    background: rgb(21,20,20);
    background: linear-gradient(26deg, rgba(21,20,20,1) 0%, rgba(94,87,78,1) 100%);
    font-family: Montserrat;
    color: #ffffff;
}

.lesVilles{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 140px;
}

.DivVilles{
    margin: 10px;
}

h1{
    margin-top: 100px;
    margin-left: 5%;
}

h2{
    margin-left: 5%;
}

.rectangleTitre{
    width: 50px;
    height: 10px;
    background: #e6b856;
    position: relative;
    left: 5%;
    bottom: 15px;
}

.rectangleVille{
    width: 50px;
    height: 3px;
    background: #e6b856;
}

.lesCartes{
    display: flex;
    justify-content: space-around;
    gap: 120px;
    margin-top: 50px;
}

.france{
    width: 600px;
    position: relative;
}

.germany{
    width: 450px;
    position: relative;
}

.point{
    position: absolute;
    width: 50px;
    transform: translate(-50%, -100%);
}