body {
    font-family: Montserrat;
    background: linear-gradient(-135deg, #151414, #302C27);
    color: white;
    min-height: 100vh;
}

img {
    width: 100%;
}

.visa {
    background: linear-gradient(rgb(13, 13, 59), rgb(17, 16, 36)) !important;
    color: white !important;
    border: solid 1px rgb(240, 192, 0) !important;
}

.mastercard {
    background: linear-gradient(rgb(21, 21, 21), rgb(13, 13, 13)) !important;
    color: white !important;
    border: solid 1px rgb(240, 192, 0) !important;
}

.logo_cb {
    width: 70px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    display: flex;
}

.gridbottom {
    display: flex;
    flex-direction: space-between;
    align-items: end;
}

.logo_cb {
    display: flex;
    margin-left: auto;
}

.inputs>input {
    width: 100%;
    box-sizing: border-box;
}

.sousinf>div{
    margin-top: 30px;
    margin-bottom: 30px;
}

.titrePage {
    position: relative;
}

.rectangleTitre {
    width: 50px;
    height: 5px;
    background: #e6b856;
    position: absolute;
    bottom: -5px;
}

.paniers {
    padding: 20px;
}

.lignepanier {
    padding-top: 10px;
    padding-bottom: 10px;
}

.lignepanier:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.145);
}

.infoproduits {
    border-top: solid 1px #e6b856;
    border-bottom: solid 1px #e6b856;
    overflow-y: scroll;
    scrollbar-color: #e6b856 transparent;
}

.all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.linetop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-family: Montserrat-bold;
}

.infoUser {
    background: #0000001f;
    padding: 20px;
    border-radius: 20px;
}

.total {
    margin-top: 20px;
    font-family: Montserrat-bold;
    color: #e6b856;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contour {
    padding: 5px;
    border: 1px solid #e6b856;
    width: 100%;
}

.flibandvalid {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flipcard {
    color: #e6b856;
    padding: 5px;
    border: 1px #e6b856 solid;
    border-radius: 10px;
    padding-inline: 20px;
    cursor: pointer;
}

button {
    color: #302C27;
    font-family: Montserrat-bold;
    padding: 7px;
    background: #e6b856;
    border-radius: 10px;
    padding-inline: 20px;
    border: none;
    cursor: pointer;
}

/* utiliser pour la carte qui tourne  */

.carte_flip {
    background-color: transparent;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;  
}

.carte_front {
    background: linear-gradient(45deg, rgb(207, 207, 207), rgb(255, 255, 255));
    border: solid 1px rgb(212, 212, 212);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carte_back {
    background: linear-gradient(45deg, rgb(207, 207, 207), rgb(255, 255, 255));
    border: solid 1px rgb(212, 212, 212);
    border-radius: 10px;
    padding: 15px;
    transform: rotateY(180deg);
    box-sizing: border-box;
}

.carte_front,
.carte_back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    color: #151414;
    backface-visibility: hidden;
}

.in {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tourne {
    transform: rotateY(180deg);
}

.titrecb{
    font-size: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.numbers>input{
    width: 100%;
    box-sizing: border-box;
}

label{
    display: flex;
    align-items: center;
    gap: 20px;
}

input{
    background: transparent;
    padding: 5px;
    border: solid #302C27 1px;
}

.visa>.numbers>input{
    border: white solid 1px;
    color: white;
}
.visa>.gridbottom>.inputs>input{
    border: white solid 1px;
    color: white;
}
.visa>.gridbottom>.inputs>label>input{
    border: white solid 1px;
    color: white;
}

.visa>label>input{
    border: white solid 1px;
    color: white;
}


.mastercard>.numbers>input{
    border: white solid 1px;
    color: white;
}
.mastercard>.gridbottom>.inputs>input{
    border: white solid 1px;
    color: white;
}
.mastercard>.gridbottom>.inputs>label>input{
    border: white solid 1px;
    color: white;
}

.mastercard>label>input{
    border: white solid 1px;
    color: white;
}
.puce{
    width: 100px;
}

.ligne{
    position: absolute;
    background: #151414;
    height: 40px;
    left: 0;
    right: 0;
    top: 50px;
}

.mastercard>.ligne{
    background: #e6b856;
}

.visa>.ligne{
    background: linear-gradient(225deg, #141414, rgb(44, 44, 44));
}
.carte_back>label{
    margin-top: 150px;
}



/* confirmation : */

.fixedError{
    position: fixed;
    top: 50%;
    z-index: 6;
    left: 50%;
    text-align: center;
    background: linear-gradient(#151414, #302C27);
    border: 1px solid #e6b856;
    padding: 20px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    display: block;
}


.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#151414, #302C27);
    z-index: 100;
    display: none;
}

.engre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    z-index: 101;
}

.engrenage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    animation: infinite linear 2s tourner;
}

@keyframes tourner{
    from{
        transform: translate(-50%, -50%) rotate(0);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.cadenas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}

.smoke{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
}
.background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
}